<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LISTAR DESDE BASE DE DATOS</h1>

    <!-- SI SE MUESTRA UN QUERYSET HACE REFERENCIA A UNA CONSULTA A LA BASE DE DATOS APARECE QUERYSET SI SE LLAMA DE ESTA FORMA {{lista}} donde lista es el context_object_name de la vista -->


    <!-- template tags para iterar los datos del modelo Prueba con el contexto lista -->
    {% for elemento in lista %}
        <p>{{elemento.titulo}}</p><!-- se imprime un atributo especifico de la tabla Prueba por el ejemplo el titulo -->
    {% endfor %}

</body>
</html>