{% extends 'base.html' %}


{% block title %}
    Nuevo Departamento    
{% endblock title %}


{% block content %}

    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>Agregar Departamento</h1>

            </div>
            <div class=" callout cell">
                <form method="POST"> {% csrf_token %}
                    <div class="grid-x grid-padding-x">
                        <div class=" medium-6 cell">
                          <label>Nombres
                            {{form.nombre}}
                          </label>
                        </div>
                    
                    
                        <div class=" medium-6 cell">
                          <label>Apellidos
                            {{form.apellidos}}
                          </label>
                        </div>
                    
                    
                        <div class=" medium-6 cell">
                          <label>Departamento
                            {{form.departamento}}
                          </label>
                        </div>
                   
                   
                        <div class=" medium-6 cell">
                          <label>Nombre Corto del Departamento
                            {{form.nombreCorto}}
                          </label>
                        </div>
                        <div class=" medium-6 cell">
                            <button class="submit success button">Guardar</button>
                          </div>
                    </div>
            </div>

        </div>

    </div>
    
{% endblock content %}

    
    

   

    
