{% extends 'base.html' %}


{% block title %}

    Eliminar Empleado
    
{% endblock title %}


{% block content %}
    {% include 'includes/header.html' %}

    <div class="grid-container">
        <div class="grid-x">
            <h1 class="cell">

                 Eliminar a: {{ empleado.full_name }}

            </h1>
            <form method="POST"> {% csrf_token %}
                <div class="callout secondary">
                    <h5>¿Seguro qué quiere eliminar a este empleado?</h5>
                    <button type="submit" class="alert button">Borrar</button>
                    
                  </div>
        
                
            </form>

        </div>

    </div>

{% endblock content %}
    
    

    
