{% extends 'base.html' %}

{% block content %}
{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Administrar Empleados</h1>
        
        <div class="cell">
            <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th width="150">Apellidos</th>
                    <th width="150">Departamento</th>
                    <th width="150">Acción</th>
                  </tr>
                </thead>
                <tbody>
                    {% for e in empleados %} <!-- object_list es qel valor por defecto que envia un listview pero mejor usar la variable del context_object_name -->
                    <tr>
                        <td>{{e.id}}</td>
                        <td>{{e.first_name}}</td>
                        <td>{{e.last_name}}</td>
                        <td>{{e.departamento}}</td>
                        <td><a class="button primary" href="{% url 'persona_app:modificar_empleado' e.id %}">Editar</a></td>
                        <td><a class="button alert" href="{% url 'persona_app:eliminar_empleado' e.id %}">Eliminar</a></td>
                        
                    </tr>
                    {% endfor %}
                  
                </tbody>
              </table>
              

        </div>
        <div class="cell">
            {% if is_paginated %} <!-- si existe paginacion --> 
                <nav aria-label="Pagination">
                    <ul class="pagination">

                        <!-- page_obj es el objeto que contiene la paginacion desde el listview -->
                        {% if page_obj.has_previous %} <!-- si tiene elementos o paginas atras -->
                            <li class="pagination-previous">
                                <!-- django ya trae dentro de objeto page_obj la página de atrás -->
                                <a href="?page={{page_obj.previous_page_number}}" >Atrás</a></li>
                            </li>
                        {% endif %}

                        
                        {% for pagina in paginator.page_range %} <!-- paginate_by envia a este objeto paginator.page_range que tiene todo el numero de pagina que tiene el onjeto de paginacion -->
                            

                            <!-- tag para hacer comparaciones -->
                            {% ifequal pagina page_obj.number %} 
                                <li class="current"><span class="show-for-sr">You're on page</span> {{pagina}}</li>
                            {% else %}
                                <li><a href="?page={{pagina}}" >{{pagina}}</a></li> <!-- la variable pagina accede cada pagina que contiene segun lo configurado en el listview  -->
                            
                            {% endifequal %}                           
                            
                        {% endfor %}

                        {% if page_obj.has_next %} <!-- si tiene elementos o paginas siguientes -->
                        <li class="pagination-next">
                            <a href="?page={{page_obj.next_page_number}}" >Siguiente</a></li>
                        </li>
                        {% endif %}
                            
                    

                    
                    
                    </ul>
                </nav>
            {% endif %}
        </div>

    </div>   

</div>

    
{% endblock content %}
    