{% extends 'base.html' %}

{% block content %}
{% include "includes/header.html" %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Lista Empleados</h1>
        <div class="cell grid-x">
            <div class="cell large-7">
                <input type="text" placeholder="Buscar empleado">
            </div>
            <div class="cell large-2">
                <button type="button" class="button primary">Buscar</button>
            </div>

        </div>
        <div class="cell">
            <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombres</th>
                    <th width="150">Apellidos</th>
                    <th width="150">Departamento</th>
                    <th width="150">Acción</th>
                  </tr>
                </thead>
                <tbody>
                    {% for e in object_list %}
                    <tr>
                        <td>{{e.id}}</td>
                        <td>{{e.first_name}}</td>
                        <td>{{e.last_name}}</td>
                        <td>{{e.departamento}}</td>
                        <td><a class="button secondary" href="#">Ver</a></td>
                        
                    </tr>
                    {% endfor %}
                  
                </tbody>
              </table>

        </div>

    </div>   

</div>

    
{% endblock content %}
    